{% extends 'base.html' %}

{% block content %}
    <header>      
        <img id="logo" src="{{ url_for('static', filename='Logo.png') }}"/>
        <a class="contact" href="{{ url_for('contact') }}">Contact us</a>
    </header>
    <main>
        <div class="grid-container">
            <h2 class="db">Welcome!</h2>
            <h3 class="db">What do you want to do today ?</h3>
            <img id="dbleft" src="{{ url_for('static', filename='Dashboard left.png') }}"/>
            <div class="container2">
                <h4 class="shift">Manage Account</h4>
                <ul>
                    {% for transaction in transactions %}
                    <li>{{ transaction.transaction_type }}: ${{ transaction.amount }}
                    </li>{% endfor %}
                </ul>
                <a href="{{ url_for('manage_account') }}" class="btn btn-primary">+</a>
            </div>
            <div class="container3">
                <h4 class="shift">Manage Finance</h4>
                <ul>
                    {% for transaction in transactions %}
                    <li>{{ transaction.transaction_type }}: ${{ transaction.amount }}
                    </li>{% endfor %}
                </ul>
                <a href="{{ url_for('manage_finance') }}" class="btn btn-primary">+</a>
            </div>
            <div class="container4">
                <h4 class="shift 3">Write Report  </h4>
                <ul>  
                    {% for transaction in transactions %}
                    <li>{{ transaction.transaction_type }}: ${{ transaction.amount }}
                    </li>{% endfor %}
                </ul>
                <a href="{{ url_for('write_report') }}" class="btn btn-primary">+</a>
            </div>
            
        </div>
    </main>
{% endblock %}
