<div class="background-img">
{% extends 'base.html' %}

{% block content %}
    <img class="finallogo" src="{{ url_for('static', filename='finallogo.png') }}"/>
    <div class="container1">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="post" action="{{ url_for('login') }}">
            <h1>Login</h1>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
    </div>
    <br>
    <br>
{% endblock %}
</div>