<header>      
    <img id="logo" src="{{ url_for('static', filename='Logo.png') }}"/>
    <a class="contact" href="{{ url_for('contact') }}">Contact us</a>
</header>
<img id="whitebg" src="{{ url_for('static', filename='Selfinance2.png') }}"/>
{% extends 'base.html' %}

{% block content %}

<div class="container6">
    <h4 class="AI">Manage Finance</h4>

    {% if message %}
        <div class="alert alert-error">
            {{ message }}
        </div>
    {% endif %}

    <form method="POST">
        <label class="element" for="income">Income:</label>
        <input type="number" name="income" required>

        <label class="element" for="interest">Interest:</label>
        <input type="number" name="interest" required>

        <label class="element" for="loss">Loss:</label>
        <input type="number" name="loss" required>

        <label class="element" for="loaner">Loaner:</label>
        <input type="number" name="loaner" required>

        <label class="element" for="transaction_date">Transaction Date:</label>
        <input type="date" name="transaction_date" required>

        <button type="submit" class="buttona">Submit</button>
        <a class ="back" href="{{ url_for('dashboard') }}">Back to Dashboard</a>
    </form>
</div>
{% endblock %}
